{% extends "../base-default.html" %}

{% load static %}
{% load tags %}

{% block content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
      <!-- SECTION BANNER ICON -->
      <img class="section-banner-icon" src="{% static 'img/banner/newsfeed-icon.png' %}" alt="newsfeed-icon">
      <!-- /SECTION BANNER ICON -->
  
      <!-- SECTION BANNER TITLE -->
      <p class="section-banner-title">Fil d'actualité</p>
      <!-- /SECTION BANNER TITLE -->
  
      <!-- SECTION BANNER TEXT -->
      <p class="section-banner-text">Vérifiez ce que vos amis ont fait !</p>
      <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- GRID -->
    <div class="grid mobile-prefer-content">
      <!-- GRID COLUMN -->
      <div class="grid-column">
        <!-- QUICK POST -->
        <div class="quick-post">
            <form class="form" method="POST" action="{% url 'addtwouitt' %}" id="form-create-twouitt" enctype="multipart/form-data">
              {% csrf_token %}
                <!-- QUICK POST HEADER -->
            <div class="quick-post-header">
                <figure class="preview-image-twouitt liquid">
                    <img src="" alt="cover-01" style="display: none;">
                </figure>
            </div>
            <!-- /QUICK POST HEADER -->
            <!-- QUICK POST BODY -->
              <div class="quick-post-body">
                <!-- FORM -->
                  <!-- FORM ROW -->
                  <div class="form-row">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                      <!-- FORM TEXTAREA -->
                      <div class="form-textarea">
                        <textarea id="quick-post-text" name="quick-post-text" placeholder="Ecrivez votre tweet ..."></textarea>
                        <!-- FORM TEXTAREA LIMIT TEXT -->
                        <p class="form-textarea-limit-text"><span id="nb-char">0</span> caractères</p>
                        <!-- /FORM TEXTAREA LIMIT TEXT -->
                      </div>
                      <!-- /FORM TEXTAREA -->
                    </div>
                    <!-- /FORM ITEM -->
                  </div>
                  <!-- /FORM ROW -->
                <!-- /FORM -->
              </div>
              <!-- /QUICK POST BODY -->

              <!-- QUICK POST FOOTER -->
              <div class="quick-post-footer">
                <!-- QUICK POST FOOTER ACTIONS -->
                <div class="quick-post-footer-actions">
                  <!-- QUICK POST FOOTER ACTION -->
                    {{ image_form.as_p }}
                    <div id="add-img-twouitt" class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert Photo">
                        <!-- QUICK POST FOOTER ACTION ICON -->
                        <svg class="quick-post-footer-action-icon icon-camera">
                          <use xlink:href="#svg-camera"></use>
                        </svg>
                        <!-- /QUICK POST FOOTER ACTION ICON -->
                    </div>
                  <!-- /QUICK POST FOOTER ACTION -->
                </div>
                <!-- /QUICK POST FOOTER ACTIONS -->

                  <!-- QUICK POST FOOTER ACTIONS -->
                  <div class="quick-post-footer-actions">
                    <!-- BUTTON -->
                    <p id="cancel-quick" class="button small void">Annuler</p>
                    <!-- /BUTTON -->

                    <!-- BUTTON -->
                      <p id="submit-quick" class="button small secondary">Twouitt !</p>
                    <!-- /BUTTON -->
                  </div>
                  <!-- /QUICK POST FOOTER ACTIONS -->
              </div>
              <!-- /QUICK POST FOOTER -->
            </form>
        </div>
        <!-- /QUICK POST -->

        {% for item in timeline %}
            {% if item.retwouitt %}
                {% retwouitt_tag item.msg %}
            {% else %}
                {% twouitt_tag item.msg %}
            {% endif %}
        {% endfor %}
      </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}