{% extends "../base-default.html" %}

{% load static %}
{% load tags %}

{% block content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
  <!-- GRID -->
    <div class="grid mobile-prefer-content">
      <!-- GRID COLUMN -->
        <div class="grid-column">
    <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">
      {% if results_user or results_msg %}
        <!-- USER STATUS LIST -->
        <div class="user-status-list">
            {% for u in results_user %}
              <!-- USER STATUS -->
              <div class="user-status request-small">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="{% url 'profil' u.get_username %}">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="{{ u.profil.photo.url }}"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->
                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="{% url 'profil' u.get_username %}">{{ u.get_username }}</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- ACTION REQUEST LIST -->
                <div class="action-request-list">
                  <!-- ACTION REQUEST -->
                  <div class="action-request accept">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-add-friend">
                      <use xlink:href="#svg-add-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->
                </div>
                <!-- ACTION REQUEST LIST -->
              </div>
              <!-- /USER STATUS -->
              {% endfor %}
            </div>
            <!-- /USER STATUS LIST -->
          </div>
          <!-- WIDGET BOX CONTENT -->

          {% for msg in results_msg %}
            {% twouitt_tag msg %}
          {% endfor %}
      {% else %}
          <div class="widget-box rt-list"><h2>Aucun résultat</h2></div>

      {% endif %}
        </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}