{% extends "../base-default.html" %}

{% load static %}
{% load tags %}

{% block content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- GRID -->
    <div class="grid mobile-prefer-content">
      <!-- GRID COLUMN -->
      <div class="grid-column">
          <div class="main-twouitt">
              {% twouitt_tag msg %}
          </div>
          <div class="twouitt-comments">
              {% for twouitt in msg.get_comments %}
                  {% twouitt_tag twouitt %}
              {% endfor %}
          </div>
      </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}