{% extends "../base-default.html" %}

{% load static %}
{% load tags %}

{% block content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- GRID -->
    <div class="grid mobile-prefer-content">
      <!-- GRID COLUMN -->
      <div class="grid-column">
          <div class="widget-box rt-list"><h2>Liste des retwouitts</h2></div>
          {% for msg in rt_set %}
            {% retwouitt_tag msg %}
          {% endfor %}
      </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}