<!-- WIDGET BOX -->
<div class="widget-box no-padding twouitt">
  <!-- WIDGET BOX SETTINGS -->
  <div class="widget-box-settings">
    <!-- POST SETTINGS WRAP -->
    <div class="post-settings-wrap">
      <!-- POST SETTINGS -->
      <div class="post-settings widget-box-post-settings-dropdown-trigger">
        <!-- POST SETTINGS ICON -->
        <svg class="post-settings-icon icon-more-dots">
          <use xlink:href="#svg-more-dots"></use>
        </svg>
        <!-- /POST SETTINGS ICON -->
      </div>
      <!-- /POST SETTINGS -->

      <!-- SIMPLE DROPDOWN -->
      <div class="simple-dropdown widget-box-post-settings-dropdown">
        <!-- SIMPLE DROPDOWN LINK -->
        <p class="simple-dropdown-link"><a href="{% url 'twouitt' msg.slug %}">Go to twouitt page</a></p>
        <!-- /SIMPLE DROPDOWN LINK -->

        <!-- SIMPLE DROPDOWN LINK -->
        <p class="simple-dropdown-link">Edit Post</p>
        <!-- /SIMPLE DROPDOWN LINK -->

        <!-- SIMPLE DROPDOWN LINK -->
        <p class="simple-dropdown-link">Delete Post</p>
        <!-- /SIMPLE DROPDOWN LINK -->

        <!-- SIMPLE DROPDOWN LINK -->
        <p class="simple-dropdown-link">Report Post</p>
        <!-- /SIMPLE DROPDOWN LINK -->

        <!-- SIMPLE DROPDOWN LINK -->
        <p class="simple-dropdown-link">Report Author</p>
        <!-- /SIMPLE DROPDOWN LINK -->
      </div>
      <!-- /SIMPLE DROPDOWN -->
    </div>
    <!-- /POST SETTINGS WRAP -->
  </div>
  <!-- /WIDGET BOX SETTINGS -->

  <!-- WIDGET BOX STATUS -->
  <div class="widget-box-status">
    <!-- WIDGET BOX STATUS CONTENT -->
    <div class="widget-box-status-content">
      <!-- USER STATUS -->
      <div class="user-status">
        <!-- USER STATUS AVATAR -->
        <a class="user-status-avatar" href="{% url 'profil' msg.user.user.get_username %}">
          <!-- USER AVATAR -->
          <div class="user-avatar small no-outline">
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div class="hexagon-image-30-32" data-src="{{ msg.user.photo.url }}"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->

            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
              <!-- HEXAGON -->
              <div class="hexagon-progress-40-44"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->

            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
              <!-- HEXAGON -->
              <div class="hexagon-border-40-44"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->
          </div>
          <!-- /USER AVATAR -->
        </a>
        <!-- /USER STATUS AVATAR -->

        <!-- USER STATUS TITLE -->
        <p class="user-status-title medium"><a class="bold" href="{% url 'profil' msg.user.user.get_username %}">{{ msg.user.user.get_username }}</a></p>
        <!-- /USER STATUS TITLE -->

        <!-- USER STATUS TEXT -->
        <p class="user-status-text small">{{ msg.created_at }}</p>
        <!-- /USER STATUS TEXT -->
      </div>
      <!-- /USER STATUS -->

      <!-- WIDGET BOX STATUS TEXT -->
      <p class="widget-box-status-text">{{ msg.message }}</p>
      <!-- /WIDGET BOX STATUS TEXT -->
        {% if msg.photo %}
            <figure class="widget-box-picture">
              <img src="{{ msg.photo.url }}" alt="photo tweet">
            </figure>
        {% endif %}
    </div>
    <!-- /WIDGET BOX STATUS CONTENT -->

    <!-- WIDGET BOX STATUS CONTENT -->
    <div class="widget-box-status-content">
      <!-- CONTENT ACTIONS -->
      <div class="content-actions">
        <!-- CONTENT ACTION -->
        <div class="content-action">
          <!-- META LINE -->
          <div class="meta-line">
            <!-- META LINE LINK -->
            <p class="meta-line-link">{{ msg.get_comments.count }} Commentaires</p>
            <!-- /META LINE LINK -->
          </div>
          <!-- /META LINE -->

          <!-- META LINE -->
          <div class="meta-line">
            <!-- META LINE TEXT -->
            <p class="meta-line-link"><a href="{% url 'retwouitt' msg.slug %}">{{ msg.retweet_set.count }} Retweets</a></p>
            <!-- /META LINE TEXT -->
          </div>
          <!-- /META LINE -->

            <!-- META LINE -->
          <div class="meta-line">
            <!-- META LINE TEXT -->
            <p class="meta-line-link">{{ msg.favoris.count }} Favoris</p>
            <!-- /META LINE TEXT -->
          </div>
          <!-- /META LINE -->
        </div>
        <!-- /CONTENT ACTION -->
      </div>
      <!-- /CONTENT ACTIONS -->
    </div>
    <!-- /WIDGET BOX STATUS CONTENT -->
  </div>
  <!-- /WIDGET BOX STATUS -->

  <!-- POST OPTIONS -->
  <div class="post-options">
    <!-- POST OPTION WRAP -->
    <div class="post-option-wrap">
      <!-- POST OPTION -->
      <div class="post-option reaction-options-dropdown-trigger favoris-button">
        <!-- POST OPTION ICON -->
        <svg class="post-option-icon icon-thumbs-up
        {% if msg.favoris.has_favoris %}

        {% endif %} ">
          <use xlink:href="#svg-thumbs-up"></use>
        </svg>
        <!-- /POST OPTION ICON -->

        <!-- POST OPTION TEXT -->
        <p class="post-option-text">Favoris</p>
        <!-- /POST OPTION TEXT -->
      </div>
      <!-- /POST OPTION -->
    </div>
    <!-- /POST OPTION WRAP -->

    <!-- POST OPTION -->
    <div class="post-option">
      <!-- POST OPTION ICON -->
      <svg class="post-option-icon icon-comment">
        <use xlink:href="#svg-comment"></use>
      </svg>
      <!-- /POST OPTION ICON -->

      <!-- POST OPTION TEXT -->
      <p class="post-option-text">Comment</p>
      <!-- /POST OPTION TEXT -->
    </div>
    <!-- /POST OPTION -->

    <!-- POST OPTION -->
    <div class="post-option">
      <!-- POST OPTION ICON -->
      <svg class="post-option-icon icon-share">
        <use xlink:href="#svg-share"></use>
      </svg>
      <!-- /POST OPTION ICON -->

      <!-- POST OPTION TEXT -->
      <p class="post-option-text">Share</p>
      <!-- /POST OPTION TEXT -->
    </div>
      <input class="hidden-slug" name="slug" type="hidden" value="{{ msg.slug }}">
    <!-- /POST OPTION -->
  </div>
  <!-- /POST OPTIONS -->
</div>
<!-- /WIDGET BOX -->