{% extends "../profil/settings-defaut.html" %}

{% load static %}

{% block content-settings %}

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
          <!-- SECTION HEADER INFO -->
          <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Mon Profil</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Demandes d'ami<span class="highlighted"> {{ demande_abonnement.length }}</span></h2>
            <!-- /SECTION TITLE -->
          </div>
          <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        {% if demande_abonnement %}
            {% for demande in demande_abonnement %}
                <!-- NOTIFICATION BOX LIST -->
                <div class="notification-box-list">
                  <!-- NOTIFICATION BOX -->
                  <div class="notification-box">
                    <!-- USER STATUS -->
                    <div class="user-status request">
                      <!-- USER STATUS AVATAR -->
                      <a class="user-status-avatar" href="{% url 'profil' demande.id %}">
                        <!-- USER AVATAR -->
                        <div class="user-avatar small no-outline">
                          <!-- USER AVATAR CONTENT -->
                          <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-30-32" data-src="{{ demande.photo.url }}" style="width: 30px; height: 32px; position: relative;"><canvas width="30" height="32" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                            <!-- /HEXAGON -->
                          </div>
                          <!-- /USER AVATAR CONTENT -->

                          <!-- USER AVATAR PROGRESS -->
                          <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                            <!-- /HEXAGON -->
                          </div>
                          <!-- /USER AVATAR PROGRESS -->

                          <!-- USER AVATAR PROGRESS BORDER -->
                          <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                            <!-- /HEXAGON -->
                          </div>
                          <!-- /USER AVATAR PROGRESS BORDER -->
                        </div>
                        <!-- /USER AVATAR -->
                      </a>
                      <!-- /USER STATUS AVATAR -->

                      <!-- USER STATUS TITLE -->
                      <p class="user-status-title"><a class="bold" href="{% url 'profil' demande.id %}">{{ demande.user.first_name }} {{ demande.user.last_name }}</a></p>
                      <!-- /USER STATUS TITLE -->

                      <!-- USER STATUS TEXT -->
                      <p class="user-status-text small-space"></p>
                      <!-- /USER STATUS TEXT -->

                      <!-- ACTION REQUEST LIST -->
                      <div class="action-request-list">
                        <!-- ACTION REQUEST -->
                        <p class="action-request accept with-text">
                          <!-- ACTION REQUEST ICON -->
                          <svg class="action-request-icon icon-add-friend">
                            <use xlink:href="#svg-add-friend"></use>
                          </svg>
                          <!-- /ACTION REQUEST ICON -->

                          <!-- ACTION REQUEST TEXT -->
                          <span class="action-request-text">Accepter</span>
                          <!-- /ACTION REQUEST TEXT -->
                        </p>
                        <!-- /ACTION REQUEST -->

                        <!-- ACTION REQUEST -->
                        <div class="action-request decline">
                          <!-- ACTION REQUEST ICON -->
                          <svg class="action-request-icon icon-remove-friend">
                            <use xlink:href="#svg-remove-friend"></use>
                          </svg>
                          <!-- /ACTION REQUEST ICON -->
                        </div>
                        <!-- /ACTION REQUEST -->
                      </div>
                      <!-- ACTION REQUEST LIST -->
                    </div>
                    <!-- /USER STATUS -->
                  </div>
                  <!-- /NOTIFICATION BOX -->
                </div>
                <!-- /NOTIFICATION BOX LIST -->
            {% endfor %}
        {% endif %}
    </div>
    <!-- /GRID COLUMN -->

{% endblock %}