{% extends "../base-default.html" %}

{% load static %}

{% block content %}
    <!-- CONTENT GRID -->
    <div class="content-grid">
        <!-- SECTION BANNER -->
        <div class="section-banner">
            <!-- SECTION BANNER ICON -->
            <img class="section-banner-icon" src="{% static 'img/banner/members-icon.png' %}" alt="members-icon">
            <!-- /SECTION BANNER ICON -->
        
            <!-- SECTION BANNER TITLE -->
            <p class="section-banner-title">Amis (256)</p>
            <!-- /SECTION BANNER TITLE -->
        
            <!-- SECTION BANNER TEXT -->
            <p class="section-banner-text">Parcourez tous vos amis !</p>
            <!-- /SECTION BANNER TEXT -->
        </div>
        <!-- /SECTION BANNER -->
        
        <!-- SECTION FILTERS BAR -->
        <div class="section-filters-bar v1">
            <!-- SECTION FILTERS BAR ACTIONS -->
            <div class="section-filters-bar-actions">
            <!-- FORM -->
            <form class="form">
                <!-- FORM INPUT -->
                <div class="form-input small with-button">
                <label for="friends-search">Rechercher un ami</label>
                <input type="text" id="friends-search" name="friends_search">
                <!-- BUTTON -->
                <button class="button primary">
                    <!-- ICON MAGNIFYING GLASS -->
                    <svg class="icon-magnifying-glass">
                    <use xlink:href="#svg-magnifying-glass"></use>
                    </svg>
                    <!-- /ICON MAGNIFYING GLASS -->
                </button>
                <!-- /BUTTON -->
                </div>
                <!-- /FORM INPUT -->
        
                <!-- FORM SELECT -->
                <div class="form-select">
                <label for="friends-filter-category">Filter By</label>
                <select id="friends-filter-category" name="friends_filter_category">
                    <option value="1">Newest Friends</option>
                    <option value="2">Alphabetical</option>
                </select>
                <!-- FORM SELECT ICON -->
                <svg class="form-select-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->
            </form>
            <!-- /FORM -->
        
            <!-- FILTER TABS -->
            <div class="filter-tabs">        
                <!-- FILTER TAB -->
                <div class="filter-tab active">
                <!-- FILTER TAB TEXT -->
                <p class="filter-tab-text">Nouveaux amis</p>
                <!-- /FILTER TAB TEXT -->
                </div>
                <!-- /FILTER TAB -->
        
                <!-- FILTER TAB -->
                <div class="filter-tab">
                <!-- FILTER TAB TEXT -->
                <p class="filter-tab-text">Alphabétique</p>
                <!-- /FILTER TAB TEXT -->
                </div>
                <!-- /FILTER TAB -->
            </div>
            <!-- /FILTER TABS -->
            </div>
            <!-- /SECTION FILTERS BAR ACTIONS -->
        
            <!-- SECTION FILTERS BAR ACTIONS -->
            <div class="section-filters-bar-actions">
            <!-- VIEW ACTIONS -->
            <div class="view-actions">
                <!-- VIEW ACTION -->
                <div class="view-action text-tooltip-tft-medium active" data-title="">
                <!-- VIEW ACTION ICON -->
                <svg class="view-action-icon icon-big-grid-view">
                    <use xlink:href="#svg-big-grid-view"></use>
                </svg>
                <!-- /VIEW ACTION ICON -->
                </div>
                <!-- /VIEW ACTION -->
            </div>
            <!-- /VIEW ACTIONS -->
            </div>
            <!-- /SECTION FILTERS BAR ACTIONS -->
        </div>
        <!-- /SECTION FILTERS BAR -->
        
        <!-- GRID -->
        <div class="grid grid-4-4-4 centered">
            <!-- USER PREVIEW -->
            <div class="user-preview">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid">
                <img src="img/cover/04.jpg" alt="cover-04">
            </figure>
            <!-- /USER PREVIEW COVER -->
        
            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
                <!-- USER SHORT DESCRIPTION -->
                <div class="user-short-description">
                <!-- USER SHORT DESCRIPTION AVATAR -->
                <a class="user-short-description-avatar user-avatar medium" href="profile-timeline.html">
                    <!-- USER AVATAR BORDER -->
                    <div class="user-avatar-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-120-132"></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR BORDER -->
                
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-image-82-90" data-src="img/avatar/05.jpg"></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->
                
                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                    <!-- HEXAGON -->
                    <div class="hexagon-progress-100-110"></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->
                
                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-border-100-110"></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->
                </a>
                <!-- /USER SHORT DESCRIPTION AVATAR -->
            
                <!-- USER SHORT DESCRIPTION TITLE -->
                <p class="user-short-description-title"><a href="profile-timeline.html">NekoBebop</a></p>
                <!-- /USER SHORT DESCRIPTION TITLE -->
            
                <!-- USER SHORT DESCRIPTION TEXT -->
                <p class="user-short-description-text"><a href="#">@</a></p>
                <!-- /USER SHORT DESCRIPTION TEXT -->
                </div>
                <!-- /USER SHORT DESCRIPTION -->
        
                <!-- USER PREVIEW STATS SLIDES -->
                <div id="user-preview-stats-slides-01" class="user-preview-stats-slides">
                <!-- USER PREVIEW STATS SLIDE -->
                <div class="user-preview-stats-slide">
                    <!-- USER STATS -->
                    <div class="user-stats">
                    <!-- USER STAT -->
                    <div class="user-stat">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">874</p>
                        <!-- /USER STAT TITLE -->
                
                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">posts</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                
                    <!-- USER STAT -->
                    <div class="user-stat">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">60</p>
                        <!-- /USER STAT TITLE -->
                
                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">friends</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                
                    <!-- USER STAT -->
                    <div class="user-stat">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">3.9k</p>
                        <!-- /USER STAT TITLE -->
                
                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">visits</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                    </div>
                    <!-- /USER STATS -->
                </div>
                <!-- /USER PREVIEW STATS SLIDE -->
            
                <!-- USER PREVIEW STATS SLIDE -->
                <div class="user-preview-stats-slide">
                    <!-- USER PREVIEW TEXT -->
                    <p class="user-preview-text">Hello! I'm James Hart, but I go by the name of Destroy Dex on my stream channel. Come to check out the latest gaming news!</p>
                    <!-- /USER PREVIEW TEXT -->
                </div>
                <!-- /USER PREVIEW STATS SLIDE -->
                </div>
                <!-- /USER PREVIEW STATS SLIDES -->
        
                <!-- USER PREVIEW STATS ROSTER -->
                <div id="user-preview-stats-roster-01" class="user-preview-stats-roster slider-roster">
                <!-- SLIDER ROSTER ITEM -->
                <div class="slider-roster-item"></div>
                <!-- /SLIDER ROSTER ITEM -->
        
                <!-- SLIDER ROSTER ITEM -->
                <div class="slider-roster-item"></div>
                <!-- /SLIDER ROSTER ITEM -->
                </div>
                <!-- /USER PREVIEW STATS ROSTER -->
        
                <!-- USER PREVIEW ACTIONS -->
                <div class="user-preview-actions">
                <!-- BUTTON -->
                <p class="button secondary">Ajouter un ami +</p>
                <!-- /BUTTON -->
        
                <!-- BUTTON -->
                <p class="button primary">Envoyer un message</p>
                <!-- /BUTTON -->
                </div>
                <!-- /USER PREVIEW ACTIONS -->
            </div>
            <!-- /USER PREVIEW INFO -->
            </div>
            <!-- /USER PREVIEW -->
            <!-- USER PREVIEW -->
            <div class="user-preview">
                <!-- USER PREVIEW COVER -->
                <figure class="user-preview-cover liquid">
                    <img src="img/cover/04.jpg" alt="cover-04">
                </figure>
                <!-- /USER PREVIEW COVER -->
            
                <!-- USER PREVIEW INFO -->
                <div class="user-preview-info">
                    <!-- USER SHORT DESCRIPTION -->
                    <div class="user-short-description">
                    <!-- USER SHORT DESCRIPTION AVATAR -->
                    <a class="user-short-description-avatar user-avatar medium" href="profile-timeline.html">
                        <!-- USER AVATAR BORDER -->
                        <div class="user-avatar-border">
                        <!-- HEXAGON -->
                        <div class="hexagon-120-132"></div>
                        <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR BORDER -->
                    
                        <!-- USER AVATAR CONTENT -->
                        <div class="user-avatar-content">
                        <!-- HEXAGON -->
                        <div class="hexagon-image-82-90" data-src="img/avatar/05.jpg"></div>
                        <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR CONTENT -->
                    
                        <!-- USER AVATAR PROGRESS -->
                        <div class="user-avatar-progress">
                        <!-- HEXAGON -->
                        <div class="hexagon-progress-100-110"></div>
                        <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS -->
                    
                        <!-- USER AVATAR PROGRESS BORDER -->
                        <div class="user-avatar-progress-border">
                        <!-- HEXAGON -->
                        <div class="hexagon-border-100-110"></div>
                        <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS BORDER -->
                    </a>
                    <!-- /USER SHORT DESCRIPTION AVATAR -->
                
                    <!-- USER SHORT DESCRIPTION TITLE -->
                    <p class="user-short-description-title"><a href="profile-timeline.html">NekoBebop</a></p>
                    <!-- /USER SHORT DESCRIPTION TITLE -->
                
                    <!-- USER SHORT DESCRIPTION TEXT -->
                    <p class="user-short-description-text"><a href="#">@</a></p>
                    <!-- /USER SHORT DESCRIPTION TEXT -->
                    </div>
                    <!-- /USER SHORT DESCRIPTION -->
            
                    <!-- USER PREVIEW STATS SLIDES -->
                    <div id="user-preview-stats-slides-02" class="user-preview-stats-slides">
                    <!-- USER PREVIEW STATS SLIDE -->
                    <div class="user-preview-stats-slide">
                        <!-- USER STATS -->
                        <div class="user-stats">
                        <!-- USER STAT -->
                        <div class="user-stat">
                            <!-- USER STAT TITLE -->
                            <p class="user-stat-title">874</p>
                            <!-- /USER STAT TITLE -->
                    
                            <!-- USER STAT TEXT -->
                            <p class="user-stat-text">posts</p>
                            <!-- /USER STAT TEXT -->
                        </div>
                        <!-- /USER STAT -->
                    
                        <!-- USER STAT -->
                        <div class="user-stat">
                            <!-- USER STAT TITLE -->
                            <p class="user-stat-title">60</p>
                            <!-- /USER STAT TITLE -->
                    
                            <!-- USER STAT TEXT -->
                            <p class="user-stat-text">friends</p>
                            <!-- /USER STAT TEXT -->
                        </div>
                        <!-- /USER STAT -->
                    
                        <!-- USER STAT -->
                        <div class="user-stat">
                            <!-- USER STAT TITLE -->
                            <p class="user-stat-title">3.9k</p>
                            <!-- /USER STAT TITLE -->
                    
                            <!-- USER STAT TEXT -->
                            <p class="user-stat-text">visits</p>
                            <!-- /USER STAT TEXT -->
                        </div>
                        <!-- /USER STAT -->
                        </div>
                        <!-- /USER STATS -->
                    </div>
                    <!-- /USER PREVIEW STATS SLIDE -->
                
                    <!-- USER PREVIEW STATS SLIDE -->
                    <div class="user-preview-stats-slide">
                        <!-- USER PREVIEW TEXT -->
                        <p class="user-preview-text">Hello! I'm James Hart, but I go by the name of Destroy Dex on my stream channel. Come to check out the latest gaming news!</p>
                        <!-- /USER PREVIEW TEXT -->
                    </div>
                    <!-- /USER PREVIEW STATS SLIDE -->
                    </div>
                    <!-- /USER PREVIEW STATS SLIDES -->
            
                    <!-- USER PREVIEW STATS ROSTER -->
                    <div id="user-preview-stats-roster-02" class="user-preview-stats-roster slider-roster">
                    <!-- SLIDER ROSTER ITEM -->
                    <div class="slider-roster-item"></div>
                    <!-- /SLIDER ROSTER ITEM -->
            
                    <!-- SLIDER ROSTER ITEM -->
                    <div class="slider-roster-item"></div>
                    <!-- /SLIDER ROSTER ITEM -->
                    </div>
                    <!-- /USER PREVIEW STATS ROSTER -->
            
                    <!-- USER PREVIEW ACTIONS -->
                    <div class="user-preview-actions">
                    <!-- BUTTON -->
                    <p class="button secondary">Ajouter un ami +</p>
                    <!-- /BUTTON -->
            
                    <!-- BUTTON -->
                    <p class="button primary">Envoyer un message</p>
                    <!-- /BUTTON -->
                    </div>
                    <!-- /USER PREVIEW ACTIONS -->
                </div>
                <!-- /USER PREVIEW INFO -->
                </div>
                <!-- /USER PREVIEW -->
        </div>
        <!-- /GRID -->
        
        <!-- SECTION PAGER BAR -->
        <div class="section-pager-bar">
            <!-- SECTION PAGER -->
            <div class="section-pager">
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item active">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">01</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
        
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">02</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
        
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">03</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
        
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">04</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
        
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">05</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
        
            <!-- SECTION PAGER ITEM -->
            <div class="section-pager-item">
                <!-- SECTION PAGER ITEM TEXT -->
                <p class="section-pager-item-text">06</p>
                <!-- /SECTION PAGER ITEM TEXT -->
            </div>
            <!-- /SECTION PAGER ITEM -->
            </div>
            <!-- /SECTION PAGER -->
        
            <!-- SECTION PAGER CONTROLS -->
            <div class="section-pager-controls">
            <!-- SLIDER CONTROL -->
            <div class="slider-control left disabled">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
        
            <!-- SLIDER CONTROL -->
            <div class="slider-control right">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
            </div>
            <!-- /SECTION PAGER CONTROLS -->
        </div>
        <!-- /SECTION PAGER BAR -->
    </div>
    <!-- /CONTENT GRID -->
{% endblock %}