{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}
    {{ request.user.profil.id|json_script:"profil_id" }}
    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
          <!-- SECTION HEADER INFO -->
          <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Mon Profil</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Messages</h2>
            <!-- /SECTION TITLE -->
          </div>
          <!-- /SECTION HEADER INFO -->

          <!-- SECTION HEADER ACTIONS -->
          <div class="section-header-actions">
            <!-- SECTION HEADER ACTION -->
            <p class="section-header-action" id="mark_read_all_messages">Tout marquer comme lu</p>
            <!-- /SECTION HEADER ACTION -->
          </div>
          <!-- /SECTION HEADER ACTIONS -->
        </div>
        <!-- /SECTION HEADER -->

                <!-- CHAT WIDGET WRAP -->
        <div class="chat-widget-wrap" id="messages-view">
          <!-- CHAT WIDGET -->
          <div class="chat-widget static">
            <!-- CHAT WIDGET MESSAGES -->
            <div class="chat-widget-messages" data-simplebar>
              {% if list_conversations %}
                {% for conversation in list_conversations %}
                    <!-- CHAT WIDGET MESSAGE -->
                    <div class="chat-widget-message conversation" id="conversation-{{ conversation.id }}">
                        <!-- USER STATUS -->
                        <div class="user-status">
                            <!-- USER STATUS AVATAR -->
                            <div class="user-status-avatar">
                                <!-- USER AVATAR -->
                                <div class="user-avatar small no-outline">
                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-image-30-32 conversation-photo" data-src="{{ conversation.photo.url }}" style="width: 30px; height: 32px; position: relative;">
                                        <canvas width="30" height="32" style="position: absolute; top: 0px; left: 0px;"></canvas>
                                    </div>
                                    <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                    <!-- USER AVATAR PROGRESS -->
                                    <div class="user-avatar-progress">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-progress-40-44" style="width: 40px; height: 44px; position: relative;">
                                        <canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas>
                                    </div>
                                    <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR PROGRESS -->
                                    <!-- USER AVATAR PROGRESS BORDER -->
                                    <div class="user-avatar-progress-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-border-40-44" style="width: 40px; height: 44px; position: relative;">
                                        <canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas>
                                    </div>
                                    <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR PROGRESS BORDER -->
                                </div>
                                <!-- /USER AVATAR -->
                            </div>
                            <!-- /USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><span class="bold conversation-name">{{ conversation.user.first_name }} {{ conversation.user.last_name }}</span></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text"></p>
                            <!-- /USER STATUS TEXT -->
                            <!-- USER STATUS TIMESTAMP -->
                            <p class="user-status-timestamp floaty"></p>
                            <!-- /USER STATUS TIMESTAMP -->
                        </div>
                        <!-- /USER STATUS -->
                    </div>
                    <!-- /CHAT WIDGET MESSAGE -->
                {% endfor %}
            {% endif %}
            </div>
            <!-- /CHAT WIDGET MESSAGES -->

          </div>
          <!-- /CHAT WIDGET -->

          <!-- CHAT WIDGET -->
          <div class="chat-widget" id="conversation-current">

          </div>
          <!-- /CHAT WIDGET -->
        </div>
        <!-- /CHAT WIDGET WRAP -->


    </div>
    <!-- /GRID COLUMN -->


{% endblock %}