{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
          <!-- SECTION HEADER INFO -->
          <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Mon Profil</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Notifications</h2>
            <!-- /SECTION TITLE -->
          </div>
          <!-- /SECTION HEADER INFO -->

          <!-- SECTION HEADER ACTIONS -->
          <div class="section-header-actions">
            <!-- SECTION HEADER ACTION -->
            <p class="section-header-action">Tout marquer comme lu</p>
            <!-- /SECTION HEADER ACTION -->
          </div>
          <!-- /SECTION HEADER ACTIONS -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- NOTIFICATION BOX LIST -->
        <div class="notification-box-list">
          <!-- NOTIFICATION BOX -->
          <div class="notification-box">
            <!-- USER STATUS -->
            <div class="user-status notification">
              <!-- USER STATUS AVATAR -->
              <a class="user-status-avatar" href="profile-timeline.html">
                <!-- USER AVATAR -->
                <div class="user-avatar small no-outline">
                  <!-- USER AVATAR CONTENT -->
                  <div class="user-avatar-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-image-30-32" data-src="img/avatar/03.jpg" style="width: 30px; height: 32px; position: relative;"><canvas width="30" height="32" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR CONTENT -->
              
                  <!-- USER AVATAR PROGRESS -->
                  <div class="user-avatar-progress">
                    <!-- HEXAGON -->
                    <div class="hexagon-progress-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR PROGRESS -->
              
                  <!-- USER AVATAR PROGRESS BORDER -->
                  <div class="user-avatar-progress-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-border-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR PROGRESS BORDER -->
                </div>
                <!-- /USER AVATAR -->
              </a>
              <!-- /USER STATUS AVATAR -->
          
              <!-- USER STATUS TITLE -->
              <p class="user-status-title"><a class="bold" href="profile-timeline.html">Nick Grissom</a> posted a comment on your <a class="highlighted" href="profile-timeline.html">status update</a></p>
              <!-- /USER STATUS TITLE -->
          
              <!-- USER STATUS TIMESTAMP -->
              <p class="user-status-timestamp small-space">2 minutes ago</p>
              <!-- /USER STATUS TIMESTAMP -->
          
              <!-- USER STATUS ICON -->
              <div class="user-status-icon">
                <!-- ICON COMMENT -->
                <svg class="icon-comment">
                  <use xlink:href="#svg-comment"></use>
                </svg>
                <!-- /ICON COMMENT -->
              </div>
              <!-- /USER STATUS ICON -->
            </div>
            <!-- /USER STATUS -->
        
            <!-- NOTIFICATION BOX CLOSE BUTTON -->
            <div class="notification-box-close-button">
              <!-- NOTIFICATION BOX CLOSE BUTTON ICON -->
              <svg class="notification-box-close-button-icon icon-cross">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /NOTIFICATION BOX CLOSE BUTTON ICON -->
            </div>
            <!-- /NOTIFICATION BOX CLOSE BUTTON -->
        
            <!-- MARK UNREAD BUTTON -->
            <div class="mark-unread-button"></div>
            <!-- /MARK UNREAD BUTTON -->
          </div>
          <!-- /NOTIFICATION BOX -->
        </div>
        <!-- /NOTIFICATION BOX LIST -->

        <!-- LOADER BARS -->
        <div class="loader-bars">
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
        </div>
        <!-- /LOADER BARS -->
    </div>
    <!-- /GRID COLUMN -->

{% endblock %}