{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Compte</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Paramètres généraux</h2>
            <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- GRID COLUMN -->
        <div class="grid-column">

            <!-- FORM -->
            <form class="form" method="POST" action="{% url 'settings_general_edit' %}" id="form-general">
                {% csrf_token %}
                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">Notifications par email</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                            
                        <!-- SWITCH OPTION LIST -->
                        <div class="switch-option-list">
                            <!-- SWITCH OPTION -->
                            <div class="switch-option">
                                <!-- SWITCH OPTION TITLE -->
                                <p class="switch-option-title">Commentaires</p>
                                <!-- /SWITCH OPTION TITLE -->

                                <!-- SWITCH OPTION TEXT -->
                                <p class="switch-option-text">Vous serez averti lorsque quelqu'un commentera vos publications et/ou répondra à vos commentaires.</p>
                                <!-- /SWITCH OPTION TEXT -->

                                <!-- FORM SWITCH -->
                                <div class="form-switch {% if commentaires == 1 %} active {% endif %}">
                                    <input type="text" id="general-commentaires" name="general_commentaires" value="{{ commentaires }}" hidden>
                                    <!-- FORM SWITCH BUTTON -->
                                    <div class="form-switch-button"></div>
                                    <!-- /FORM SWITCH BUTTON -->
                                </div>
                                <!-- /FORM SWITCH -->
                            </div>
                            <!-- /SWITCH OPTION -->

                            <!-- SWITCH OPTION -->
                            <div class="switch-option">
                                <!-- SWITCH OPTION TITLE -->
                                <p class="switch-option-title">Tags</p>
                                <!-- /SWITCH OPTION TITLE -->

                                <!-- SWITCH OPTION TEXT -->
                                <p class="switch-option-text">Ce sont des notifications lorsque quelqu'un vous tague dans une publication d'image.</p>
                                <!-- /SWITCH OPTION TEXT -->

                                <!-- FORM SWITCH -->
                                <div class="form-switch {% if tags == 1 %} active {% endif %}">
                                    <input type="text" id="general-tags" name="general_tags" value="{{ tags }}" hidden>
                                    <!-- FORM SWITCH BUTTON -->
                                    <div class="form-switch-button"></div>
                                    <!-- /FORM SWITCH BUTTON -->
                                </div>
                                <!-- /FORM SWITCH -->
                            </div>
                            <!-- /SWITCH OPTION -->

                            <!-- SWITCH OPTION -->
                            <div class="switch-option">
                                <!-- SWITCH OPTION TITLE -->
                                <p class="switch-option-title">Demandes d'ami</p>
                                <!-- /SWITCH OPTION TITLE -->

                                <!-- SWITCH OPTION TEXT -->
                                <p class="switch-option-text">Vous serez averti lorsque quelqu'un vous enverra une demande d'ami.</p>
                                <!-- /SWITCH OPTION TEXT -->

                                <!-- FORM SWITCH -->
                                <div class="form-switch {% if friends_request == 1 %} active {% endif %}">
                                    <input type="text" id="general-friends-request" name="general_friends_request" value="{{ friends_request }}" hidden>
                                    <!-- FORM SWITCH BUTTON -->
                                    <div class="form-switch-button"></div>
                                    <!-- /FORM SWITCH BUTTON -->
                                </div>
                                <!-- /FORM SWITCH -->
                            </div>
                            <!-- /SWITCH OPTION -->

                        </div>
                        <!-- /SWITCH OPTION LIST -->
                    </div>
                    <!-- WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->

                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">Paramètres de confidentialité</p>
                    <!-- /WIDGET BOX TITLE -->
                
                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">

                        <!-- FORM ROW -->
                        <div class="form-row split">
                            <!-- FORM ITEM -->
                            <div class="form-item centered">
                                <label class="form-title" for="general-view-profil">Qui peut voir votre profil ?</label>
                            </div>
                            <!-- /FORM ITEM -->

                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM SELECT -->
                                <div class="form-select">
                                    <select id="general-view-profil" name="general_view_profil">
                                        <option value="Public" {% if view_profil == "Public" %} selected {% endif %}>Tout le monde (Public)</option>
                                        <option value="Amis" {% if view_profil == "Amis" %} selected {% endif %}>Amis</option>
                                        <option value="Privee" {% if view_profil == "Privee" %} selected {% endif %}>Personne (Privé)</option>
                                    </select>
                                    <!-- FORM SELECT ICON -->
                                    <svg class="form-select-icon icon-small-arrow">
                                        <use xlink:href="#svg-small-arrow"></use>
                                    </svg>
                                    <!-- /FORM SELECT ICON -->
                                </div>
                                <!-- /FORM SELECT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row split">
                            <!-- FORM ITEM -->
                            <div class="form-item centered">
                                <label class="form-title" for="general-send-request-friends">Qui peut vous envoyer une demande d'ami ?</label>
                            </div>
                            <!-- /FORM ITEM -->

                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM SELECT -->
                                <div class="form-select">
                                    <select id="general-send-request-friends" name="general_send_request_friends">
                                        <option value="Public" {% if send_request_friends == "Public" %} selected {% endif %}>Tout le monde (Public)</option>
                                        <option value="Amis" {% if send_request_friends == "Amis" %} selected {% endif %}>Amis</option>
                                        <option value="Privee" {% if send_request_friends == "Privee" %} selected {% endif %}>Personne (Privé)</option>
                                    </select>
                                    <!-- FORM SELECT ICON -->
                                    <svg class="form-select-icon icon-small-arrow">
                                        <use xlink:href="#svg-small-arrow"></use>
                                    </svg>
                                    <!-- /FORM SELECT ICON -->
                                </div>
                                <!-- /FORM SELECT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        {% if messages %}
                            <!-- FORM ROW -->
                            <div class="form-row split messages">
                                {% for message in messages %}
                                    <!-- FORM ITEM -->
                                    <div class="form-item">
                                        <!-- BUTTON -->
                                        <p class="button full bg-{% if message.tags %}{{ message.tags }}{% endif %}"> {{ message }} </p>
                                        <!-- /BUTTON -->
                                    </div>
                                    <!-- /FORM ITEM -->
                                {% endfor %}
                            </div>
                            <!-- /FORM ROW -->
                        {% endif %}
                        
                        <input type="submit" hidden>
                    </div>
                    <!-- WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->
            
            </form>
            <!-- /FORM -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID COLUMN -->

{% endblock %}