{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Compte</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Changer votre mot de passe</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- GRID COLUMN -->
        <div class="grid-column">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- FORM -->
                    <form class="form" method="POST" action="{% url 'settings_password_edit' %}" id="form-password">
                        {% csrf_token %}
                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small">
                                    <label for="account-current-password">Confirmez votre mot de passe actuel</label>
                                    <input type="password" id="account-current-password" name="account_current_password" required>
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row split">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small">
                                    <label for="account-new-password">Votre nouveau mot de passe</label>
                                    <input type="password" id="account-new-password" name="account_new_password" required>
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->

                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small">
                                    <label for="account-new-password-confirm">Confirmer le nouveau mot de passe</label>
                                    <input type="password" id="account-new-password-confirm" name="account_new_password_confirm" required>
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->                        
                        
                        {% if messages %}
                            <!-- FORM ROW -->
                            <div class="form-row split messages">
                                {% for message in messages %}
                                    <!-- FORM ITEM -->
                                    <div class="form-item">
                                        <!-- BUTTON -->
                                        <p class="button full bg-{% if message.tags %}{{ message.tags }}{% endif %}"> {{ message }} </p>
                                        <!-- /BUTTON -->
                                    </div>
                                    <!-- /FORM ITEM -->
                                {% endfor %}
                            </div>
                            <!-- /FORM ROW -->
                        {% endif %}
                        
                        <input type="submit" hidden>
                    </form>
                    <!-- /FORM -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID COLUMN -->

{% endblock %}