{% extends "../base-default.html" %}

{% load static %}

{% block content %}

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="{% static 'img/banner/accounthub-icon.png' %}" alt="accounthub-icon">
        <!-- /SECTION BANNER ICON -->
    
        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Centre de compte</p>
        <!-- /SECTION BANNER TITLE -->
    
        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Informations de profil, messages, paramètres et bien plus encore !</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->
    
    <!-- GRID -->
    <div class="grid grid-3-9 medium-space">
        
        <!-- GRID COLUMN -->
        <div class="account-hub-sidebar">
        <!-- SIDEBAR BOX -->
        <div class="sidebar-box no-padding">
            <!-- SIDEBAR MENU -->
            <div class="sidebar-menu">
            <!-- SIDEBAR MENU ITEM -->
            <div class="sidebar-menu-item">
                <!-- SIDEBAR MENU HEADER -->
                <div class="sidebar-menu-header accordion-trigger-linked" id="header-profil">
                <!-- SIDEBAR MENU HEADER ICON -->
                <svg class="sidebar-menu-header-icon icon-profile">
                    <use xlink:href="#svg-profile"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER ICON -->
    
                <!-- SIDEBAR MENU HEADER CONTROL ICON -->
                <div class="sidebar-menu-header-control-icon">
                    <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                    <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                    <use xlink:href="#svg-minus-small"></use>
                    </svg>
                    <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->
    
                    <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                    <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                    <use xlink:href="#svg-plus-small"></use>
                    </svg>
                    <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                </div>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON -->
    
                <!-- SIDEBAR MENU HEADER TITLE -->
                <p class="sidebar-menu-header-title">Mon Profil</p>
                <!-- /SIDEBAR MENU HEADER TITLE -->
    
                <!-- SIDEBAR MENU HEADER TEXT -->
                <p class="sidebar-menu-header-text">Changez votre avatar et votre couverture, acceptez des amis, lisez des messages et plus encore !</p>
                <!-- /SIDEBAR MENU HEADER TEXT -->
                </div>
                <!-- /SIDEBAR MENU HEADER -->
    
                <!-- SIDEBAR MENU BODY -->
                <div class="sidebar-menu-body accordion-content-linked" id="accordion-profil">
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="profil-info" href="{% url 'settings_profil_info' %}">Informations sur le profil</a>
                <!-- /SIDEBAR MENU LINK -->
    
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="profil-notifications" href="{% url 'notifications' %}">Notifications</a>
                <!-- /SIDEBAR MENU LINK -->
    
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="profil-messages" href="{% url 'messages' %}">Messages</a>
                <!-- /SIDEBAR MENU LINK -->
    
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="profil-friends-request" href="{% url 'friends_request' %}">Demandes d'ami</a>
                <!-- /SIDEBAR MENU LINK -->
                </div>
                <!-- /SIDEBAR MENU BODY -->
            </div>
            <!-- /SIDEBAR MENU ITEM -->
    
            <!-- SIDEBAR MENU ITEM -->
            <div class="sidebar-menu-item">
                <!-- SIDEBAR MENU HEADER -->
                <div class="sidebar-menu-header accordion-trigger-linked" id="header-account">
                <!-- SIDEBAR MENU HEADER ICON -->
                <svg class="sidebar-menu-header-icon icon-settings">
                    <use xlink:href="#svg-settings"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER ICON -->
    
                <!-- SIDEBAR MENU HEADER CONTROL ICON -->
                <div class="sidebar-menu-header-control-icon">
                    <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                    <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                    <use xlink:href="#svg-minus-small"></use>
                    </svg>
                    <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->
    
                    <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                    <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                    <use xlink:href="#svg-plus-small"></use>
                    </svg>
                    <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                </div>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON -->
    
                <!-- SIDEBAR MENU HEADER TITLE -->
                <p class="sidebar-menu-header-title">Compte</p>
                <!-- /SIDEBAR MENU HEADER TITLE -->
    
                <!-- SIDEBAR MENU HEADER TEXT -->
                <p class="sidebar-menu-header-text">Modifiez les paramètres, configurez les notifications et vérifiez votre confidentialité</p>
                <!-- /SIDEBAR MENU HEADER TEXT -->
                </div>
                <!-- /SIDEBAR MENU HEADER -->
    
                <!-- SIDEBAR MENU BODY -->
                <div class="sidebar-menu-body accordion-content-linked" id="accordion-account">
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="account-info" href="{% url 'settings_account_info' %}">Informations de compte</a>
                <!-- /SIDEBAR MENU LINK -->
    
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="account-password" href="{% url 'settings_password' %}">Changer votre mot de passe</a>
                <!-- /SIDEBAR MENU LINK -->
    
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" id="account-general" href="{% url 'settings_general' %}">Paramètres généraux</a>
                <!-- /SIDEBAR MENU LINK -->
                </div>
                <!-- /SIDEBAR MENU BODY -->
            </div>
            <!-- /SIDEBAR MENU ITEM -->
    
            <!-- /SIDEBAR MENU ITEM -->
            </div>
            <!-- /SIDEBAR MENU -->
    
            <!-- SIDEBAR BOX FOOTER -->
            <div class="sidebar-box-footer">
                <!-- BUTTON -->
                <p class="button primary" id="save-change">Enregistrer</p>
                <!-- /BUTTON -->
            </div>
            <!-- /SIDEBAR BOX FOOTER -->
        </div>
        <!-- /SIDEBAR BOX -->
        </div>
        <!-- /GRID COLUMN -->

        {% block content-settings %}{% endblock %}

    </div>
    <!-- /GRID -->
</div>
<!-- /CONTENT GRID -->

{% endblock %}