{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Compte</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Informations de compte</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- GRID COLUMN -->
        <div class="grid-column">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX TITLE -->
                <p class="widget-box-title">Informations personnelles</p>
                <!-- /WIDGET BOX TITLE -->

                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- FORM -->
                    <form class="form" method="POST" action="{% url 'settings_account_info_edit' %}" id="form-account-info">
                        {% csrf_token %}
                        <!-- FORM ROW -->
                        <div class="form-row split">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="account-last-name">Nom</label>
                                    <input type="text" id="account-last-name" name="account_last_name" value="{{ last_name }}">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->

                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="account-first-name">Prénom</label>
                                    <input type="text" id="account-first-name" name="account_first_name" value="{{ first_name }}">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row split">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="account-email">Email</label>
                                    <input type="text" id="account-email" name="account_email" value="{{ email }}">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->

                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="account-date-joined">Date de Création du compte</label>
                                    <input type="date" id="account-date-joined" name="account_date_joined" value="{{ date_joined }}" disabled>
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        {% if messages %}
                            <!-- FORM ROW -->
                            <div class="form-row split messages">
                                {% for message in messages %}
                                    <!-- FORM ITEM -->
                                    <div class="form-item">
                                        <!-- BUTTON -->
                                        <p class="button full bg-{% if message.tags %}{{ message.tags }}{% endif %}"> {{ message }} </p>
                                        <!-- /BUTTON -->
                                    </div>
                                    <!-- /FORM ITEM -->
                                {% endfor %}
                            </div>
                            <!-- /FORM ROW -->
                        {% endif %}
                        
                        <input type="submit" hidden>
                    </form>
                    <!-- /FORM -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->

        </div>
        <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID COLUMN -->

{% endblock %}