{% extends "./settings-defaut.html" %}

{% load static %}

{% block content-settings %}

<!-- GRID COLUMN -->
<div class="account-hub-content">
    <!-- SECTION HEADER -->
    <div class="section-header">
      <!-- SECTION HEADER INFO -->
      <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">Mon profil</p>
        <!-- /SECTION PRETITLE -->

        <!-- SECTION TITLE -->
        <h2 class="section-title">Informations sur le profil</h2>
        <!-- /SECTION TITLE -->
      </div>
      <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- GRID -->
        <div class="grid grid-3-3-3 centered">
            <!-- USER PREVIEW -->
            <div class="user-preview small fixed-height">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid" style="background: url() center center / cover no-repeat;">
                <img src="{{ user.profil.banniere.url }}" alt="cover-01" style="display: none;">
            </figure>
            <!-- /USER PREVIEW COVER -->
        
            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
                <!-- USER SHORT DESCRIPTION -->
                <div class="user-short-description small">
                <!-- USER SHORT DESCRIPTION AVATAR -->
                <div class="user-short-description-avatar user-avatar">
                    <!-- USER AVATAR BORDER -->
                    <div class="user-avatar-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-100-110" style="width: 100px; height: 110px; position: relative;"><canvas width="100" height="110" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR BORDER -->
                
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-image-68-74" data-src="{{ user.profil.photo.url }}" style="width: 68px; height: 74px; position: relative;"><canvas width="68" height="74" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->
                
                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                    <!-- HEXAGON -->
                    <div class="hexagon-progress-84-92" style="width: 84px; height: 92px; position: relative;"><canvas width="84" height="92" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->
                
                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-border-84-92" style="width: 84px; height: 92px; position: relative;"><canvas width="84" height="92" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                    <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->
                
                </div>
                <!-- /USER SHORT DESCRIPTION AVATAR -->
                </div>
                <!-- /USER SHORT DESCRIPTION -->
            </div>
            <!-- /USER PREVIEW INFO -->
            </div>
            <!-- /USER PREVIEW -->

            <!-- FORM -->
            <form class="form" method="POST" action="{% url 'settings_profil_avatar_edit' %}" id="form-profil-cover-edit" enctype="multipart/form-data">
                {% csrf_token %}
                {{ avatar_form.as_p }}
                <!-- UPLOAD BOX -->
                <div class="upload-box" id="upload-box-avatar">
                    <input type="file" id="upload-avatar" name="avatar" accept="image/png, image/jpeg" hidden>
                    <!-- UPLOAD BOX ICON -->
                    <svg class="upload-box-icon icon-members">
                        <use xlink:href="#svg-members"></use>
                    </svg>
                    <!-- /UPLOAD BOX ICON -->
                
                    <!-- UPLOAD BOX TITLE -->
                    <p class="upload-box-title">Changer d'avatar</p>
                    <!-- /UPLOAD BOX TITLE -->
                
                    <!-- UPLOAD BOX TEXT -->
                    <p class="upload-box-text">Taille minimale de 110 x 110 pixels</p>
                    <p class="upload-box-text">Format : jpeg, png</p>
                    <!-- /UPLOAD BOX TEXT -->
                </div>
                <!-- /UPLOAD BOX -->
            </form>
            <!-- /FORM -->
        
            
            <!-- FORM -->
            <form class="form" method="POST" action="{% url 'settings_profil_cover_edit' %}" id="form-profil-cover-edit" enctype="multipart/form-data">
                {% csrf_token %}
                {{ cover_form.as_p }}
                <!-- UPLOAD BOX -->
                <div class="upload-box" id="upload-box-cover">
                    <!-- UPLOAD BOX ICON -->
                    <svg class="upload-box-icon icon-photos">
                        <use xlink:href="#svg-photos"></use>
                    </svg>
                    <!-- /UPLOAD BOX ICON -->
                
                    <!-- UPLOAD BOX TITLE -->
                    <p class="upload-box-title">Changer de couverture</p>
                    <!-- /UPLOAD BOX TITLE -->                    
                
                    <!-- UPLOAD BOX TEXT -->
                    <p class="upload-box-text">Taille minimale de 1184 x 300 pixels</p>
                    <p class="upload-box-text">Format : jpeg, png</p>
                    <!-- /UPLOAD BOX TEXT -->
                </div>
                <!-- /UPLOAD BOX -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- /GRID -->

        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">À propos de votre profil</p>
            <!-- /WIDGET BOX TITLE -->
        
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
            <!-- FORM -->
            <form class="form" method="POST" action="{% url 'settings_profil_info_edit' %}" id="form-profil-info">
                {% csrf_token %}
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                        <label for="profile-pseudo">Pseudo</label>
                        <input type="text" id="profile-pseudo" name="profile_pseudo" value="{{ pseudo }}">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-name">Nom de profil</label>
                            <input type="text" id="profile-name" name="profile_name" value="{{ first_name }} {{ last_name }}" disabled>
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input small full">
                    <textarea id="profile-description" name="profile_description" placeholder="Écrivez une petite description de vous...">{{ description }}</textarea>
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->

                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input small active">
                        <label for="profile-email">Email</label>
                        <input type="text" id="profile-email" name="profile_email" value="{{ email }}">
                    </div>
                    <!-- /FORM INPUT -->

                    <!-- FORM INPUT DECORATED -->
                    <div class="form-input-decorated">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-birthday">Date d'anniversaire</label>
                            <input type="date" id="profile-birthday" name="profile_birthday" value="{{ birthday }}" disabled>
                        </div>
                        <!-- /FORM INPUT -->
            
                        <!-- FORM INPUT ICON -->
                        <svg class="form-input-icon icon-events">
                            <use xlink:href="#svg-events"></use>
                        </svg>
                        <!-- /FORM INPUT ICON -->
                    </div>
                    <!-- /FORM INPUT DECORATED -->
                </div>
                <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM SELECT -->
                    <div class="form-select">
                    <label for="profile-country">Pays</label>
                    <select id="profile-country" name="profile_country">
                        <option value="">Sélectionnez votre pays</option>
                        <option value="France" {% if country == "France" %} selected {% endif %}>France</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                    </div>
                    <!-- /FORM SELECT -->
                </div>
                <!-- /FORM ITEM -->

                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM SELECT -->
                    <div class="form-select">
                    <label for="profile-city">Ville</label>
                    <select id="profile-city" name="profile_city">
                        <option value="">Sélectionnez votre ville</option>
                        <option value="Paris" {% if city == "Paris" %} selected {% endif %}>Paris</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                    </div>
                    <!-- /FORM SELECT -->
                </div>
                <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                {% if messages %}
                    <!-- FORM ROW -->
                    <div class="form-row split messages">
                        {% for message in messages %}
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- BUTTON -->
                                <p class="button full bg-{% if message.tags %}{{ message.tags }}{% endif %}"> {{ message }} </p>
                                <!-- /BUTTON -->
                            </div>
                            <!-- /FORM ITEM -->
                        {% endfor %}
                    </div>
                    <!-- /FORM ROW -->
                {% endif %}
                
                <input type="submit" hidden>
            </form>
            <!-- /FORM -->
            </div>
            <!-- WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
</div>
<!-- /GRID COLUMN -->

{% endblock %}