{% extends "../base-login.html" %}

{% load static %}

{% block content %}
        <!-- LANDING -->
        <div class="landing">
            <!-- LANDING DECORATION -->
            <div class="landing-decoration"></div>
            <!-- /LANDING DECORATION -->

            <!-- LANDING INFO -->
            <div class="landing-info">
            <!-- LOGO -->
            <div class="logo">
                <img height="100" width="100" src="{% static 'img/logo.png' %}">
            </div>
            <!-- /LOGO -->

            <!-- LANDING INFO PRETITLE -->
            <h2 class="landing-info-pretitle">Bienvenue sur</h2>
            <!-- /LANDING INFO PRETITLE -->

            <!-- LANDING INFO TITLE -->
            <h1 class="landing-info-title">Twouitter</h1>
            <!-- /LANDING INFO TITLE -->

            <!-- LANDING INFO TEXT -->
            <p class="landing-info-text">The next generation social network &amp; community! Connect with your friends and play with our quests and badges gamification system!</p>
            <!-- /LANDING INFO TEXT -->

            <!-- TAB SWITCH -->
            <div class="tab-switch">
                <!-- TAB SWITCH BUTTON -->
                <p class="tab-switch-button login-register-form-trigger">Connexion</p>
                <!-- /TAB SWITCH BUTTON -->

                <!-- TAB SWITCH BUTTON -->
                <p class="tab-switch-button login-register-form-trigger">Inscription</p>
                <!-- /TAB SWITCH BUTTON -->
            </div>
            <!-- /TAB SWITCH -->
            </div>
            <!-- /LANDING INFO -->

            <!-- LANDING FORM -->
            <div class="landing-form">
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element">
                <!-- FORM BOX DECORATION -->
                <img class="form-box-decoration overflowing" src="{% static 'img/landing/rocket.png' %}" alt="rocket">
                <!-- /FORM BOX DECORATION -->

                <!-- FORM BOX TITLE -->
                <h2 class="form-box-title">Connectez-vous</h2>
                <!-- /FORM BOX TITLE -->
            
                <!-- FORM -->
                <form action="{% url 'login' %}" class="form" method="post">
                    {% csrf_token %}
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="login-username">Username</label>
                            <input type="text" id="login-username" name="login_username" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="login-password">Mot de passe</label>
                            <input type="password" id="login-password" name="login_password" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                
                    <!-- FORM ROW -->
                    <div class="form-row space-between">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- CHECKBOX WRAP -->
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="login-remember" name="login_remember" value="1">
                            <!-- CHECKBOX BOX -->
                            <div class="checkbox-box">
                            <!-- ICON CROSS -->
                            <svg class="icon-cross">
                                <use xlink:href="#svg-cross"></use>
                            </svg>
                            <!-- /ICON CROSS -->
                            </div>
                            <!-- /CHECKBOX BOX -->
                            <label for="login-remember">Se souvenir de moi {{ error_login }}</label>
                        </div>
                        <!-- /CHECKBOX WRAP -->
                        </div>
                        <!-- /FORM ITEM -->
                
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM LINK -->
                        <a class="form-link" href="{% url 'lostpassword' %}">Mot de passe oublié ?</a>
                        <!-- /FORM LINK -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- BUTTON -->
                        <button class="button medium secondary">Se Connecter !</button>
                        <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
            
            </div>
            <!-- /FORM BOX -->
            
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element">
                <!-- FORM BOX DECORATION -->
                <img class="form-box-decoration" src="{% static 'img/landing/rocket.png' %}" alt="rocket">
                <!-- /FORM BOX DECORATION -->

                <!-- FORM BOX TITLE -->
                <h2 class="form-box-title">Créer votre compte</h2>
                <!-- /FORM BOX TITLE -->
            
                <!-- FORM -->
                <form action="{% url 'register' %}" class="form" method="post">
                    {% csrf_token %}
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="register-email">Email</label>
                            <input type="email" id="register-email" name="register_email" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="register-username">Username</label>
                            <input type="text" id="register-username" name="register_username" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-select">
                            <label for="register-gender">Genre</label>
                            <select  id="register-gender" name="register_gender" required>
                                <option value="">-- Choisir un genre --</option>
                                <option value="H">Homme</option>
                                <option value="F">Femme</option>
                            </select>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="register-lastname">Nom</label>
                            <input type="text" id="register-lastname" name="register_lastname" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="register-firstname">Prénom</label>
                            <input type="text" id="register-firstname" name="register_firstname" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input active">
                            <label for="register-birthday">Date de naissance</label>
                            <input type="date" id="register-birthday" name="register_birthday" max="" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="register-password">Mot de passe</label>
                            <input type="password" id="register-password" name="register_password" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                                                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- BUTTON -->
                        <button class="button medium primary">S"inscrire Maintenant !</button>
                        <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
            
            </div>
            <!-- /FORM BOX -->
            </div>
            <!-- /LANDING FORM -->
        </div>
        <!-- /LANDING -->
{% endblock %}