{% extends "../base-login.html" %}

{% load static %}

{% block content %}

        <!-- LANDING -->
        <div class="landing">
            <!-- LANDING DECORATION -->
            <div class="landing-decoration"></div>
            <!-- /LANDING DECORATION -->

            <!-- LANDING INFO -->
            <div class="landing-info">
            <!-- LOGO -->
            <div class="logo">
                <!-- ICON LOGO VIKINGER -->
                <svg class="icon-logo-vikinger">
                <use xlink:href="#svg-logo-vikinger"></use>
                </svg>
                <!-- /ICON LOGO VIKINGER -->
            </div>
            <!-- /LOGO -->

            <!-- LANDING INFO PRETITLE -->
            <h2 class="landing-info-pretitle">Bienvenue sur</h2>
            <!-- /LANDING INFO PRETITLE -->

            <!-- LANDING INFO TITLE -->
            <h1 class="landing-info-title">Twouitter</h1>
            <!-- /LANDING INFO TITLE -->

            <!-- LANDING INFO TEXT -->
            <p class="landing-info-text">The next generation social network &amp; community! Connect with your friends and play with our quests and badges gamification system!</p>
            <!-- /LANDING INFO TEXT -->

            <!-- TAB SWITCH -->
            <div class="tab-switch">
                <!-- TAB SWITCH BUTTON -->
                <p class="tab-switch-button login-register-form-trigger">Mot de passe Oublié ?</p>
                <!-- /TAB SWITCH BUTTON -->

                <!-- TAB SWITCH BUTTON -->
                <p class="tab-switch-button login-register-form-trigger"><a href="/" style="text-decoration:none; color:#1d2333; font-weight:700;">Connexion</a></p>
                <!-- /TAB SWITCH BUTTON -->
            </div>
            <!-- /TAB SWITCH -->
            </div>
            <!-- /LANDING INFO -->

            <!-- LANDING FORM -->
            <div class="landing-form">
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element">
                <!-- FORM BOX DECORATION -->
                <img class="form-box-decoration overflowing" src="{% static 'img/landing/rocket.png' %}" alt="rocket">
                <!-- /FORM BOX DECORATION -->

                <!-- FORM BOX TITLE -->
                <h2 class="form-box-title">Mot de passe Oublié</h2>
                <!-- /FORM BOX TITLE -->
            
                <!-- FORM -->
                <form action="{% url 'forgetpassword' %}" class="form" method="post">
                    {% csrf_token %}
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input">
                            <label for="forget-email">Email</label>
                            <input type="email" id="forget-email" name="forget_email" required>
                        </div>
                        <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    
                    <br>
                    <br>
                
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        <!-- BUTTON -->
                        <button class="button medium secondary">Recevoir un nouveau mot de passe !</button>
                        <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
            
            </div>
            <!-- /FORM BOX -->
            
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element" hidden></div>
            <!-- /FORM BOX -->
            </div>
            <!-- /LANDING FORM -->
        </div>
        <!-- /LANDING -->

{% endblock %}