<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>

        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/simplebar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/tiny-slider.css' %}">

    </head>
    <body>
        <!-- ERROR SECTION -->
        <div class="error-section">
            <!-- ERROR SECTION TITLE -->
            <p class="error-section-title">404</p>
            <!-- /ERROR SECTION TITLE -->

            <!-- ERROR SECTION INFO -->
            <div class="error-section-info">
                <!-- ERROR SECTION SUBTITLE -->
                <p class="error-section-subtitle">Oops!!...</p>
                <!-- /ERROR SECTION SUBTITLE -->

                <!-- ERROR SECTION TEXT -->
                <p class="error-section-text">Il semble que vous ayez fait un mauvais virage et que vous ayez rencontré un trou noir Web qui a absorbé la page que vous recherchiez! Mais ne paniquez pas car vous pouvez y retourner !</p>
                <!-- /ERROR SECTION TEXT -->

                <!-- ERROR SECTION TEXT -->
                <p class="error-section-text">Si le problème persiste, veuillez nous envoyer un e-mail à notre équipe d'assistance à l'adresse <a href="mailto:support@twouitter.fr"><span>support@twouitter.fr</span></a></p>
                <!-- /ERROR SECTION TEXT -->

                <!-- BUTTON -->
                <a class="button medium primary" href="/">Revenir à l'accueil</a>
                <!-- /BUTTON -->
            </div>
            <!-- /ERROR SECTION INFO -->
        </div>
        <!-- /ERROR SECTION -->

        <!-- Script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/app.bundle.min.js' %}"></script>

    </body>
</html>