{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>{{ title }}</title>
        
        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">

    </head>
    <body>   

        {% block content %}{% endblock %}

        <!-- Script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/app.bundle.min.js' %}"></script>
        <script src="{% static 'js/login-register.js' %}"></script>
        
    </body>	
</html>