{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>{{ title }}</title>
        
        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/simplebar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/tiny-slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

        {# JQUERY #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body>            
        <!-- PAGE LOADER -->
        <div class="page-loader">
        <!-- PAGE LOADER DECORATION -->
        <div class="page-loader-decoration">
            <!-- ICON LOGO -->
            <img class="icon-logo" src="{% static 'img/logo.png' %}">
            <!-- /ICON LOGO -->
        </div>
        <!-- /PAGE LOADER DECORATION -->
        
        <!-- PAGE LOADER INFO -->
        <div class="page-loader-info">
            <!-- PAGE LOADER INFO TITLE -->
            <p class="page-loader-info-title">Twouitter</p>
            <!-- /PAGE LOADER INFO TITLE -->
        
            <!-- PAGE LOADER INFO TEXT -->
            <p class="page-loader-info-text">Chargement...</p>
            <!-- /PAGE LOADER INFO TEXT -->
        </div>
        <!-- /PAGE LOADER INFO -->
        
        <!-- PAGE LOADER INDICATOR -->
        <div class="page-loader-indicator loader-bars">
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
        </div>
        <!-- /PAGE LOADER INDICATOR -->
        </div>
        <!-- /PAGE LOADER -->
        
        <!-- NAVIGATION WIDGET -->
        <nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left delayed">
        <!-- USER AVATAR -->
        <a class="user-avatar small no-outline" href="{% url 'profil' 'me' %}">
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
            <!-- HEXAGON -->
            <div class="hexagon-image-30-32" data-src="{{ user.profil.photo.url }}"></div>
            <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
        
            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
            <!-- HEXAGON -->
            <div class="hexagon-progress-40-44"></div>
            <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->
        
            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
            <!-- HEXAGON -->
            <div class="hexagon-border-40-44"></div>
            <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->
        
        
            </div>
            <!-- /USER AVATAR BADGE -->
        </a>
        <!-- /USER AVATAR -->
        
        <!-- MENU -->
        <ul class="menu small">
            <!-- MENU ITEM -->
            <li class="menu-item active">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link text-tooltip-tfr" href="{% url 'home' %}" data-title="Fil d'actualité">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                <use xlink:href="#svg-newsfeed"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->

            <!-- MENU ITEM -->
            <li class="menu-item">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link text-tooltip-tfr" href="{% url 'friends_list' %}" data-title="Amis">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-members">
                <use xlink:href="#svg-members"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->
        </ul>
        <!-- /MENU -->
        </nav>
        <!-- /NAVIGATION WIDGET -->
        
        <!-- NAVIGATION WIDGET -->
        <nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left hidden" data-simplebar>
        <!-- NAVIGATION WIDGET COVER -->
        <figure class="navigation-widget-cover liquid">
            <img src="{{ user.profil.banniere.url }}" alt="cover-01">
        </figure>
        <!-- /NAVIGATION WIDGET COVER -->
        
        <!-- USER SHORT DESCRIPTION -->
        <div class="user-short-description">
            <!-- USER SHORT DESCRIPTION AVATAR -->
            <a class="user-short-description-avatar user-avatar medium" href="{% url 'profil' 'me' %}">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-120-132"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->
        
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-82-90" data-src="{{ user.profil.photo.url }}"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
        
            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
                <!-- HEXAGON -->
                <div class="hexagon-progress-100-110"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->
        
            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
                <!-- HEXAGON -->
                <div class="hexagon-border-100-110"></div>
                <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->
            </a>
            <!-- /USER SHORT DESCRIPTION AVATAR -->
        
            <!-- USER SHORT DESCRIPTION TITLE -->
            <p class="user-short-description-title"><a href="{% url 'profil' 'me' %}">{{ user.first_name }} {{ user.last_name }}</a></p>
            <!-- /USER SHORT DESCRIPTION TITLE -->

            <!-- USER SHORT DESCRIPTION TEXT -->
            <p class="user-short-description-text"><a href="#">@{{ user.username }}</a></p>
            <!-- /USER SHORT DESCRIPTION TEXT -->
        </div>
        <!-- /USER SHORT DESCRIPTION -->
        
        
        <!-- USER STATS -->
        <div class="user-stats">
            <!-- USER STAT -->
            <div class="user-stat">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">930</p>
            <!-- /USER STAT TITLE -->
        
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">tweets</p>
            <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
        
            <!-- USER STAT -->
            <div class="user-stat">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">82</p>
            <!-- /USER STAT TITLE -->
        
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">amis</p>
            <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
        
            <!-- USER STAT -->
            <div class="user-stat">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">5.7k</p>
            <!-- /USER STAT TITLE -->
        
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">visites</p>
            <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
        </div>
        <!-- /USER STATS -->
        
        <!-- MENU -->
        <ul class="menu">
            <!-- MENU ITEM -->
            <li class="menu-item active">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" href="{% url 'home' %}">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                <use xlink:href="#svg-newsfeed"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
                Fil d'actualité
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->
        
            <!-- MENU ITEM -->
            <li class="menu-item">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" href="{% url 'friends_list' %}">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-members">
                <use xlink:href="#svg-members"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
                Amis
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->
        </ul>
        <!-- /MENU -->
        </nav>
        <!-- /NAVIGATION WIDGET -->
        
        <!-- NAVIGATION WIDGET -->
        <nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left hidden" data-simplebar>
        <!-- NAVIGATION WIDGET CLOSE BUTTON -->
        <div class="navigation-widget-close-button">
            <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
            <svg class="navigation-widget-close-button-icon icon-back-arrow">
            <use xlink:href="#svg-back-arrow"></use>
            </svg>
            <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
        </div>
        <!-- /NAVIGATION WIDGET CLOSE BUTTON -->
        
        <!-- NAVIGATION WIDGET INFO WRAP -->
        <div class="navigation-widget-info-wrap">
            <!-- NAVIGATION WIDGET INFO -->
            <div class="navigation-widget-info">
            <!-- USER AVATAR -->
            <a class="user-avatar small no-outline" href="{% url 'profil' 'me' %}">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="{{ user.profil.photo.url }}"></div>
                <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                <!-- HEXAGON -->
                <div class="hexagon-progress-40-44"></div>
                <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                <!-- HEXAGON -->
                <div class="hexagon-border-40-44"></div>
                <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            </a>
            <!-- /USER AVATAR -->
        
            <!-- NAVIGATION WIDGET INFO TITLE -->
            <p class="navigation-widget-info-title"><a href="{% url 'profil' 'me' %}">{{ user.first_name }} {{ user.last_name }}</a></p>
            <!-- /NAVIGATION WIDGET INFO TITLE -->
        
            <!-- NAVIGATION WIDGET INFO TEXT -->
            <p class="navigation-widget-info-text">Content de te revoir !</p>
            <!-- /NAVIGATION WIDGET INFO TEXT -->
            </div>
            <!-- /NAVIGATION WIDGET INFO -->
        
            <!-- NAVIGATION WIDGET BUTTON -->
            <p class="navigation-widget-info-button button small secondary"><a href="{% url 'logout' %}" style="color: #fff;">Déconnexion</a></p>
            <!-- /NAVIGATION WIDGET BUTTON -->
        </div>
        <!-- /NAVIGATION WIDGET INFO WRAP -->
        
        <!-- NAVIGATION WIDGET SECTION TITLE -->
        <p class="navigation-widget-section-title">Sections</p>
        <!-- /NAVIGATION WIDGET SECTION TITLE -->
        
        <!-- MENU -->
        <ul class="menu">
            <!-- MENU ITEM -->
            <li class="menu-item active">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" href="{% url 'home' %}">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                <use xlink:href="#svg-newsfeed"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
                Fil d'actualité
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->

            <!-- MENU ITEM -->
            <li class="menu-item">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" href="{% url 'friends_list' %}">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-members">
                <use xlink:href="#svg-members"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
                Amis
            </a>
            <!-- /MENU ITEM LINK -->
            </li>
            <!-- /MENU ITEM -->
        </ul>
        <!-- /MENU -->
        
        </nav>
        <!-- /NAVIGATION WIDGET -->

        <!-- HEADER -->
        <header class="header">
        <!-- HEADER ACTIONS -->
        <div class="header-actions">
            <!-- HEADER BRAND -->
            <div class="header-brand">
            <!-- LOGO -->
            <div class="logo">
                <!-- ICON LOGO VIKINGER -->
                <svg class="icon-logo-vikinger small">
                <use xlink:href="#svg-logo-vikinger"></use>
                </svg>
                <!-- /ICON LOGO VIKINGER -->
            </div>
            <!-- /LOGO -->
        
            <!-- HEADER BRAND TEXT -->
            <h1 class="header-brand-text">Twouitter</h1>
            <!-- /HEADER BRAND TEXT -->
            </div>
            <!-- /HEADER BRAND -->
            <!-- SIDEMENU TRIGGER -->
            <div class="sidemenu-trigger navigation-widget-trigger">
                <!-- ICON GRID -->
                <svg class="icon-grid">
                    <use xlink:href="#svg-grid"></use>
                </svg>
                <!-- /ICON GRID -->
                </div>
                <!-- /SIDEMENU TRIGGER -->
        </div>
        <!-- /HEADER ACTIONS -->
        
        <!-- HEADER ACTIONS -->
        <div class="header-actions">
            <!-- MOBILEMENU TRIGGER -->
            <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
            <!-- BURGER ICON -->
            <div class="burger-icon inverted">
                <!-- BURGER ICON BAR -->
                <div class="burger-icon-bar"></div>
                <!-- /BURGER ICON BAR -->
        
                <!-- BURGER ICON BAR -->
                <div class="burger-icon-bar"></div>
                <!-- /BURGER ICON BAR -->
        
                <!-- BURGER ICON BAR -->
                <div class="burger-icon-bar"></div>
                <!-- /BURGER ICON BAR -->
            </div>
            <!-- /BURGER ICON -->
            </div>
            <!-- /MOBILEMENU TRIGGER -->
        </div>
        <!-- /HEADER ACTIONS -->
        
        <!-- HEADER ACTIONS -->
        <div class="header-actions search-bar">
            <form method="get" action="{% url 'search' %}">
            <!-- INTERACTIVE INPUT -->
            <div class="interactive-input dark">
                <input type="text" id="search-main" name="search_main" placeholder="Recherchez ici des personnes">
            <!-- INTERACTIVE INPUT ICON WRAP -->
            <div class="interactive-input-icon-wrap">
                <!-- INTERACTIVE INPUT ICON -->
                <svg class="interactive-input-icon icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
                </svg>
                <!-- /INTERACTIVE INPUT ICON -->
            </div>
            <!-- /INTERACTIVE INPUT ICON WRAP -->


            <!-- INTERACTIVE INPUT ACTION -->
            <div class="interactive-input-action">
                <!-- INTERACTIVE INPUT ACTION ICON -->
                <svg class="interactive-input-action-icon icon-cross-thin">
                <use xlink:href="#svg-cross-thin"></use>
                </svg>
                <!-- /INTERACTIVE INPUT ACTION ICON -->
            </div>
            <!-- /INTERACTIVE INPUT ACTION -->
            </div>
            <!-- /INTERACTIVE INPUT -->
            </form>
        </div>
        <!-- /HEADER ACTIONS -->
        
        <!-- HEADER ACTIONS -->
        <div class="header-actions"></div>
        <!-- /HEADER ACTIONS -->
        
        <!-- HEADER ACTIONS -->
        <div class="header-actions">
            <!-- ACTION LIST -->
            <div class="action-list dark">
        
            <!-- ACTION LIST ITEM WRAP -->
            <div class="action-list-item-wrap">
                <!-- ACTION LIST ITEM -->
                <div class="action-list-item header-dropdown-trigger">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-friend">
                    <use xlink:href="#svg-friend"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
                </div>
                <!-- /ACTION LIST ITEM -->
        
                <!-- DROPDOWN BOX -->
                <div class="dropdown-box header-dropdown">
                <!-- DROPDOWN BOX HEADER -->
                <div class="dropdown-box-header">
                    <!-- DROPDOWN BOX HEADER TITLE -->
                    <p class="dropdown-box-header-title">Demandes d'ami</p>
                    <!-- /DROPDOWN BOX HEADER TITLE -->
                </div>
                <!-- /DROPDOWN BOX HEADER -->
            
                <!-- DROPDOWN BOX LIST -->
                <div class="dropdown-box-list no-hover" data-simplebar>
                    <!-- DROPDOWN BOX LIST ITEM -->
                    <div class="dropdown-box-list-item">
                    <!-- USER STATUS -->
                    <div class="user-status request">
                        <!-- USER STATUS AVATAR -->
                        <a class="user-status-avatar" href="/profil">
                        <!-- USER AVATAR -->
                        <div class="user-avatar small no-outline">
                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-30-32" data-src="img/avatar/16.jpg"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->
                        
                            <!-- USER AVATAR PROGRESS -->
                            <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-40-44"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS -->
                        
                            <!-- USER AVATAR PROGRESS BORDER -->
                            <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-40-44"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS BORDER -->
                        </div>
                        <!-- /USER AVATAR -->
                        </a>
                        <!-- /USER STATUS AVATAR -->
                    
                        <!-- USER STATUS TITLE -->
                        <p class="user-status-title"><a class="bold" href="/profil">Ginny Danvers</a></p>
                        <!-- /USER STATUS TITLE -->
                    
                        <!-- USER STATUS TEXT -->
                        <p class="user-status-text">6 amis en commun</p>
                        <!-- /USER STATUS TEXT -->
                    
                        <!-- ACTION REQUEST LIST -->
                        <div class="action-request-list">
                        <!-- ACTION REQUEST -->
                        <div class="action-request accept">
                            <!-- ACTION REQUEST ICON -->
                            <svg class="action-request-icon icon-add-friend">
                            <use xlink:href="#svg-add-friend"></use>
                            </svg>
                            <!-- /ACTION REQUEST ICON -->
                        </div>
                        <!-- /ACTION REQUEST -->
                    
                        <!-- ACTION REQUEST -->
                        <div class="action-request decline">
                            <!-- ACTION REQUEST ICON -->
                            <svg class="action-request-icon icon-remove-friend">
                            <use xlink:href="#svg-remove-friend"></use>
                            </svg>
                            <!-- /ACTION REQUEST ICON -->
                        </div>
                        <!-- /ACTION REQUEST -->
                        </div>
                        <!-- ACTION REQUEST LIST -->
                    </div>
                    <!-- /USER STATUS -->
                    </div>
                    <!-- /DROPDOWN BOX LIST ITEM -->
                </div>
                <!-- /DROPDOWN BOX LIST -->
            
                <!-- DROPDOWN BOX BUTTON -->
                <a class="dropdown-box-button secondary" href="{% url 'friends_request' %}">Voir toutes les demandes d'amis</a>
                <!-- /DROPDOWN BOX BUTTON -->
                </div>
                <!-- /DROPDOWN BOX -->
            </div>
            <!-- /ACTION LIST ITEM WRAP -->
        
            <!-- ACTION LIST ITEM WRAP -->
            <div class="action-list-item-wrap">
                <!-- ACTION LIST ITEM -->
                <div class="action-list-item {% if messages_unread > 0 %} unread {% endif %} header-dropdown-trigger">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-messages">
                    <use xlink:href="#svg-messages"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
                </div>
                <!-- /ACTION LIST ITEM -->
        
                <!-- DROPDOWN BOX -->
                <div class="dropdown-box header-dropdown">
                <!-- DROPDOWN BOX HEADER -->
                <div class="dropdown-box-header">
                    <!-- DROPDOWN BOX HEADER TITLE -->
                    <p class="dropdown-box-header-title">Messages</p>
                    <!-- /DROPDOWN BOX HEADER TITLE -->
                </div>
                <!-- /DROPDOWN BOX HEADER -->
            

                {% if list_conversations %}
                    {% for conversation in list_conversations %}
                        <!-- DROPDOWN BOX LIST -->
                        <div class="dropdown-box-list medium" style="cursor: pointer" data-simplebar>
                        <!-- DROPDOWN BOX LIST ITEM -->
                        <a class="dropdown-box-list-item" id="{{ conversation.id }}">
                        <!-- USER STATUS -->
                        <div class="user-status">
                            <!-- USER STATUS AVATAR -->
                            <div class="user-status-avatar">
                            <!-- USER AVATAR -->
                            <div class="user-avatar small no-outline">
                                <!-- USER AVATAR CONTENT -->
                                <div class="user-avatar-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-image-30-32" data-src="{{ conversation.photo.url }}"></div>
                                <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR CONTENT -->

                                <!-- USER AVATAR PROGRESS -->
                                <div class="user-avatar-progress">
                                <!-- HEXAGON -->
                                <div class="hexagon-progress-40-44"></div>
                                <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS -->

                                <!-- USER AVATAR PROGRESS BORDER -->
                                <div class="user-avatar-progress-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-border-40-44"></div>
                                <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS BORDER -->
                            </div>
                            <!-- /USER AVATAR -->
                            </div>
                            <!-- /USER STATUS AVATAR -->

                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><span class="bold">{{ conversation.user.first_name }} {{ conversation.user.last_name }}</span></p>
                            <!-- /USER STATUS TITLE -->

                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text"></p>
                            <!-- /USER STATUS TEXT -->

                            <!-- USER STATUS TIMESTAMP -->
                            <p class="user-status-timestamp floaty"></p>
                            <!-- /USER STATUS TIMESTAMP -->
                        </div>
                        <!-- /USER STATUS -->
                        </a>
                        <!-- /DROPDOWN BOX LIST ITEM -->

                    </div>
                        <!-- /DROPDOWN BOX LIST -->
                    {% endfor %}
                {% endif %}
            
                <!-- DROPDOWN BOX BUTTON -->
                <a class="dropdown-box-button primary" href="{% url 'messages' %}">Voir tous les messages</a>
                <!-- /DROPDOWN BOX BUTTON -->
                </div>
                <!-- /DROPDOWN BOX -->
            </div>
            <!-- /ACTION LIST ITEM WRAP -->
        
            <!-- ACTION LIST ITEM WRAP -->
            <div class="action-list-item-wrap">
                <!-- ACTION LIST ITEM -->
                <div class="action-list-item unread header-dropdown-trigger">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-notification">
                    <use xlink:href="#svg-notification"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
                </div>
                <!-- /ACTION LIST ITEM -->
        
                <!-- DROPDOWN BOX -->
                <div class="dropdown-box header-dropdown">
                <!-- DROPDOWN BOX HEADER -->
                <div class="dropdown-box-header">
                    <!-- DROPDOWN BOX HEADER TITLE -->
                    <p class="dropdown-box-header-title">Notifications</p>
                    <!-- /DROPDOWN BOX HEADER TITLE -->
        
                    <!-- DROPDOWN BOX HEADER ACTIONS -->
                    <div class="dropdown-box-header-actions">
                        <!-- DROPDOWN BOX HEADER ACTION -->
                        <p class="dropdown-box-header-action">Tout marquer comme lu</p>
                        <!-- /DROPDOWN BOX HEADER ACTION -->
                    </div>
                    <!-- /DROPDOWN BOX HEADER ACTIONS -->
                </div>
                <!-- /DROPDOWN BOX HEADER -->
            
                <!-- DROPDOWN BOX LIST -->
                <div class="dropdown-box-list" data-simplebar>
                    <!-- DROPDOWN BOX LIST ITEM -->
                    <div class="dropdown-box-list-item unread">
                    <!-- USER STATUS -->
                    <div class="user-status notification">
                        <!-- USER STATUS AVATAR -->
                        <a class="user-status-avatar" href="/profil">
                        <!-- USER AVATAR -->
                        <div class="user-avatar small no-outline">
                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-30-32" data-src="img/avatar/03.jpg"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->
                        
                            <!-- USER AVATAR PROGRESS -->
                            <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-40-44"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS -->
                        
                            <!-- USER AVATAR PROGRESS BORDER -->
                            <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-40-44"></div>
                            <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS BORDER -->
                        </div>
                        <!-- /USER AVATAR -->
                        </a>
                        <!-- /USER STATUS AVATAR -->
                    
                        <!-- USER STATUS TITLE -->
                        <p class="user-status-title"><a class="bold" href="/profil">Nick Grissom</a> posted a comment on your <a class="highlighted" href="/profil">status update</a></p>
                        <!-- /USER STATUS TITLE -->
                    
                        <!-- USER STATUS TIMESTAMP -->
                        <p class="user-status-timestamp">2 minutes ago</p>
                        <!-- /USER STATUS TIMESTAMP -->
                    
                        <!-- USER STATUS ICON -->
                        <div class="user-status-icon">
                        <!-- ICON COMMENT -->
                        <svg class="icon-comment">
                            <use xlink:href="#svg-comment"></use>
                        </svg>
                        <!-- /ICON COMMENT -->
                        </div>
                        <!-- /USER STATUS ICON -->
                    </div>
                    <!-- /USER STATUS -->
                    </div>
                    <!-- /DROPDOWN BOX LIST ITEM -->
                </div>
                <!-- /DROPDOWN BOX LIST -->
            
                <!-- DROPDOWN BOX BUTTON -->
                <a class="dropdown-box-button secondary" href="{% url 'notifications' %}">Voir toutes les notifications</a>
                <!-- /DROPDOWN BOX BUTTON -->
                </div>
                <!-- /DROPDOWN BOX -->
            </div>
            <!-- /ACTION LIST ITEM WRAP -->
            </div>
            <!-- /ACTION LIST -->
        
            <!-- ACTION ITEM WRAP -->
            <div class="action-item-wrap">
            <!-- ACTION ITEM -->
            <div class="action-item dark header-settings-dropdown-trigger">
                <!-- ACTION ITEM ICON -->
                <svg class="action-item-icon icon-settings">
                <use xlink:href="#svg-settings"></use>
                </svg>
                <!-- /ACTION ITEM ICON -->
            </div>
            <!-- /ACTION ITEM -->
        
            <!-- DROPDOWN NAVIGATION -->
            <div class="dropdown-navigation header-settings-dropdown">
                <!-- DROPDOWN NAVIGATION HEADER -->
                <div class="dropdown-navigation-header">
                <!-- USER STATUS -->
                <div class="user-status">
                    <!-- USER STATUS AVATAR -->
                    <a class="user-status-avatar" href="{% url 'profil' 'me' %}">
                    <!-- USER AVATAR -->
                    <div class="user-avatar small no-outline">
                        <!-- USER AVATAR CONTENT -->
                        <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-30-32" data-src="{{ user.profil.photo.url }}"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR CONTENT -->
                    
                        <!-- USER AVATAR PROGRESS -->
                        <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-40-44"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS -->
                    
                        <!-- USER AVATAR PROGRESS BORDER -->
                        <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-40-44"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS BORDER -->
                    
                    </div>
                    <!-- /USER AVATAR -->
                    </a>
                    <!-- /USER STATUS AVATAR -->
                
                    <!-- USER STATUS TITLE -->
                    <p class="user-status-title"><span class="bold">Salut {{ user.first_name }} !</span></p>
                    <!-- /USER STATUS TITLE -->
                
                    <!-- USER STATUS TEXT -->
                    <p class="user-status-text small"><a href="{% url 'profil' 'me' %}">@{{ user.username }}</a></p>
                    <!-- /USER STATUS TEXT -->
                </div>
                <!-- /USER STATUS -->
                </div>
                <!-- /DROPDOWN NAVIGATION HEADER -->
            
                <!-- DROPDOWN NAVIGATION CATEGORY -->
                <p class="dropdown-navigation-category">Mon Profil</p>
                <!-- /DROPDOWN NAVIGATION CATEGORY -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'settings_profil_info' %}">Informations sur le profil</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'notifications' %}">Notifications</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'messages' %}">Messages</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'friends_request' %}">Demandes d'ami</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION CATEGORY -->
                <p class="dropdown-navigation-category">Account</p>
                <!-- /DROPDOWN NAVIGATION CATEGORY -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'settings_account_info' %}">Informations de compte</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'settings_password' %}">Changer votre mot de passe</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION LINK -->
                <a class="dropdown-navigation-link" href="{% url 'settings_general' %}">Paramètres généraux</a>
                <!-- /DROPDOWN NAVIGATION LINK -->
            
                <!-- DROPDOWN NAVIGATION BUTTON -->
                <p class="dropdown-navigation-button button small secondary"><a href="{% url 'logout' %}" style="color: #fff;">Déconnexion</a></p>
                <!-- /DROPDOWN NAVIGATION BUTTON -->
            </div>
            <!-- /DROPDOWN NAVIGATION -->
            </div>
            <!-- /ACTION ITEM WRAP -->
        </div>
        <!-- /HEADER ACTIONS -->
        </header>
        <!-- /HEADER -->
        
        <!-- FLOATY BAR -->
        <aside class="floaty-bar">
        <!-- BAR ACTIONS -->
        <div class="bar-actions"></div>
        <!-- /BAR ACTIONS -->
        
        <!-- BAR ACTIONS -->
        <div class="bar-actions">
            <!-- ACTION LIST -->
            <div class="action-list dark">
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item" href="{% url 'friends_request' %}">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-friend">
                <use xlink:href="#svg-friend"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
        
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item" href="{% url 'messages' %}">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-messages">
                <use xlink:href="#svg-messages"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
        
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item unread" href="{% url 'notifications' %}">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-notification">
                <use xlink:href="#svg-notification"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
            </div>
            <!-- /ACTION LIST -->
        
            <!-- ACTION ITEM WRAP -->
            <a class="action-item-wrap" href="{% url 'settings_profil_info' %}">
            <!-- ACTION ITEM -->
            <div class="action-item dark">
                <!-- ACTION ITEM ICON -->
                <svg class="action-item-icon icon-settings">
                <use xlink:href="#svg-settings"></use>
                </svg>
                <!-- /ACTION ITEM ICON -->
            </div>
            <!-- /ACTION ITEM -->
            </a>
            <!-- /ACTION ITEM WRAP -->
        </div>
        <!-- /BAR ACTIONS -->
        </aside>
        <!-- /FLOATY BAR -->

        {% block content %}{% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </footer>
        <div class="bottombar"></div>

        <!-- Script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/app.bundle.min.js' %}"></script>
        <script src="{% static 'js/js.cookie-2.2.1.min.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/messages.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>

