#section-navigation-slider {
    margin: auto;
}

.rt-list h2{
    text-align: center;
}

.rt-list .rt{
    padding-bottom: 24px;
}

.button-active svg
{
    fill: #4ff461 !important;
    opacity: 1 !important;
}

.quick-post-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 30px;
}

.quick-post-header.active {
    height: 200px;
}

.quick-post-header.active figure{
    width: 100%;
    height: 100%;
}